.content
  padding: 1.5rem

.top-bar
  padding-left: 1.5rem

.columns
  padding-left: 0

.menu-text
  padding-left: 0

.ama-user-type
  color: #999
  font-weight: normal

.ama-supplier
  ul.is-drilldown-submenu
    transition: transform 0.00001s linear
  &.is-drilldown-submenu-parent 
    > a:after
      border: 0

.ama-is-hidden
  position: absolute
  left: -5000px

.ama-drill-container
  border: 1px solid #777
  height: 235px

.ama-nav3
  float: right

.ama-nav2
  //float: left
